@{
    ViewBag.Title = "About Andrea Bliumentalis";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hi! My name is Andrea Bliumentalis. I am currently a senior studing Managment Information Systems at Ohio University. I am from Cleveland, Ohio. One of my favorite hobbies is shopping.</p>
