@{
    ViewBag.Title = "Contact Andrea Bliumentalis";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    39 1/2 N Court Street<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    440.781.7860
</address>

<address>
    <strong>Email Me:</strong>   <a href="mailto:ab732015@ohio.edu">ab732015@ohio.edu</a><br />
   
</address>