@{
    ViewBag.Title = "MIS 4200 Home Page";
}




<div class="jumbotron">
    <h1>MIS 4200</h1>
    <p class="lead">I am currently enrolled in MIS 4200 for spring semester. I am in the 10:45 AM class. Here are some of my favorite stores.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Urban Outfitters</h2>
        <p>
            Urban Outfitters is a great store. I like to buy a lot of my clothing here, espically jeans.
        </p>
        <p><a class="btn btn-default" href="https://www.urbanoutfitters.com/womens-clothing">View Website &raquo;</a></p>
        <p>
            Links to homework
        </p>
        <p>
            @Html.ActionLink("Patients", "Index", "Patients")
        </p>
    <p>
        @Html.ActionLink("Doctors", "Index", "Doctors")
    </p>
    <p>
        @Html.ActionLink("Appointments", "Index", "Appointments")
    </p>
        
    <p>
        @Html.ActionLink("Appointment Details", "Index", "AppointmentDetails")
    </p>

       



        <p>






    </div>
    <div class="col-md-4">
        <h2>Revolve</h2>
        <p>Revolve is a fun store to shop online at. They have really good outfits for formal occasions!</p>
        <p><a class="btn btn-default" href="https://www.revolve.com/clothing/br/3699fc/?navsrc=main">View Clothing &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Brandy Melville</h2>
        <p>Brandy Melville is a good website if you are looking for something more casual. You can get great outfits for class here!</p>
        <p><a class="btn btn-default" href="https://www.brandymelvilleusa.com/">Shop Clothing &raquo;</a></p>
    </div>
</div>
